
<div class="container">
    <div class="row">
        <h2 class="">About me</h2>
            <p>Click Alfareza at navbar for any criticism and suggestions</p>
            <hr/>
        <div class="col text-center">
            
            <img src="img/reza.jpg" alt="reza" class="img-thumbnail rounded-circle" width ="300">
            <!--IMG sudah jadi folder public dapat diakses global-->
            <h1 class="display-4">Muhammad Alfareza</h1>
            <p class="lead">Student | JavaScript</p>
        </div>
        
    </div>
</div>

    
   