
    <div class="row">
    <!-- EJS tinggal %+tap-->
        <div class="col-md-12 ">
            <h2 class="">Introducing Please Read Images Below<%= nama %></h2>
            <p>Please Switch To Desktop Mode For web optimization</p>
            <hr/>
           
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="img/tree.jpg" class="d-block w-100" style="max-height: 580px;" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Selamat Datang di Website Alfareza</h5>
                    <p>Website Sederhana untuk Latihan Saya Sendiri.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="img/snowroad.jpg" class="d-block w-100" style="max-height: 580px;" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Dipersilahkan Menggunakan Fitur-fitur yang ada</h5>
                    <p>Saat Ini hanya ada 2 fitur yaitu CRUD Contact dan Article.</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="img/kabut.jpg" class="d-block w-100" style="max-height: 580px;" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Mohon Kritik dan Sarannya</h5>
                    <p>Silahkan Klik Alfareza Pada NavBar untuk contact saya.</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
    
</div>
</div>
</div>